<div class="page-container">
  <div class="btn-container">
    <%= button_to '編　集', "/#{@page_detail.content_type}/#{@page_detail.id}/edit", method: :get, class: "btn edit-btn" %>
  </div>
  <h2 class="content-title"><%= @page_detail.page_title %>だよねぇ！</h2>
  <div class="content-body">
    <%= simple_format(h(@page_detail.page_body.gsub(/\n|\r\n/, "<br>").html_safe)) %>
  </div>
</div>
