<div class="how-to-page">
  <h3>〜当サイトの使い方について〜</h3>
  <p>当サイトはRuby on Railsを使用したポートフォリオサイトです。</p>
  <p>以下に当ページの使い方を記しますので、ご参考ください。</p>
  <h3>〜使い方〜</h3>
  <p>1. 「トップ」の横にある「+」を押下します。</p>
  <p>2. 「メニュー名」に投稿カテゴリを、</p>
  <p>　 「カテゴリ名」に半角にて入力し、「これでよし！」を押下します。</p>
  <p>　　※カテゴリ名に入力した文字列がURLになります。</p>
  <p>3. 「新規投稿」ボタンを押下します。</p>
  <p>4. 「カテゴリ名」のドロップダウンから先ほど追加したカテゴリを選択します。</p>
  <p>5. 「ブログタイトル」「本文」を入力し「これでよし！」を押下します。</p>
  <p>6. トップページ、または各カテゴリより投稿した記事を選択し内容を確認します。</p>
  <p>7. 投稿内容を変更するには「編集」より内容を変更します。</p>
  <h4>使い方は以上となります。</h4>
  <h3>〜最後に〜</h3>
  <p>当サイトは機能、見た目共にまだまだ不完全となります。</p>
  <p>少しずつ機能を追加、見た目を整形していきますので、</p>
  <p>お見苦しいとは思いますが、ご了承いただけますと幸いです。</p>
</div>