// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ====================================================================================================================
// ================================================== 共通レイアウト ====================================================
// ====================================================================================================================
.btn-container {
  text-align: right;
}

// ====================================================================================================================
// ================================================== PC用レイアウト ====================================================
// ====================================================================================================================

// =======================================================
// ===================== top & index =====================
// =======================================================
.new-btn {
  float: right;
}

.index-container {
  max-width: 1000px;
  margin: 0 auto;
}

.index-title {
  width: 500px;
  padding: 5px 0;
  text-align: center;
  font-family: "YuKyokasho Yoko";
  color: white;
  background: linear-gradient(90deg, white, darkred, darkred, white);

  h2 {
    letter-spacing: 3px;
  }
}

.index-body {
  margin: 10px;
  padding: 10px;

  li {
    margin-bottom: 25px;
    border: 0.23px solid gray;
    position: relative;

    a {
      color: black;
      display: block;
      padding: 10px 0;
      text-align: center;
      letter-spacing: 2px;
      transition: all, 0.3s;

      &:hover {
        background-color: darkred;
        font-family: "YuKyokasho Yoko";
        color: white;
        font-size: 30px;
      }
    }
  }
}

.notice {
  background-color: white;
  border: 0.5px solid #bbb;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: -20%;
  left: 10px;
  font-size: 10px;
  transition: all 0.2s;
}

.index-body li:hover .notice {
  background-color: #f3f3f3;
  position: absolute;
  top: -30%;
  font-size: 10px;
}

// =======================================================
// ====================== new & edit =====================
// =======================================================
.form-name {
  font-size: 15px;
  margin-top: 10px;
}

.collection-select-form {
    width: 300px;
    padding: 5px;
    font-size: 20px;
}

.form-body {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.content-form-title {
  font-size: 30px;
}

.content-form-index {
  font-size: 25px;
}

.content-form-detail {
  min-height: 200px;
  font-size: 18px;
  resize: none;
}

.register-btn {
  float: right;
}

// ======================================================
// ======================== show ========================
// ======================================================
.edit-btn {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
}

.content-title {
  margin:5px auto 30px auto;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: #600000;
  color: white;
}

.content-body {
  border-top: 1px solid gray;

  h3 {
    width: 80%;
    margin-left: 10px;
    padding: 5px;
    background: linear-gradient(90deg, darkred, #f8f8f8);
    color: white;
    font-size: 23px;
  }

  p {
    margin-top: 10px;
    margin-left: 12px;
    font-size: 20px;
  }
}

// ====================================================================================================================
// ==================================================== レスポンシブ ====================================================
// ==================================================== タブレット用 ====================================================
// ====================================================================================================================
@media screen and (max-width: 600px) {
  // =======================================================
  // ===================== top & index =====================
  // =======================================================
  .new-btn {
    float: none;
  }

  .index-title {
    width: auto;
    margin: 10px;
    padding: 5px 0;
  }

  .index-body {
    margin: 5px;
    padding: 5px;

    li {
      margin-bottom: 12px;
      border: 0.23px solid gray;
      position: relative;

      a {
        color: black;
        display: block;
        padding: 5px 0;
        text-align: center;
        letter-spacing: 2px;

        &:hover {
          background-color: darkred;
          font-family: "YuKyokasho Yoko";
          color: white;
          font-size: initial;
        }
      }
    }
  }

  .notice {
    background-color: white;
    border: 0.5px solid #bbb;
    border-radius: 3px;
    padding: 0 5px;
    position: absolute;
    top: -20%;
    left: 10px;
    font-size: 10px;
    transition: all 0.2s;
  }

  .index-body li:hover .notice {
    background-color: #f3f3f3;
    position: absolute;
    top: -25%;
    font-size: 10px;
  }

  // =======================================================
  // ====================== new & edit =====================
  // =======================================================
  .content-form-title {
    font-size: 25px;
  }

  .content-form-index {
    font-size: 20px;
  }

  .content-form-detail {
    min-height: 200px;
    font-size: 18px;
    resize: none;
  }

  .register-btn {
    display: inline-block;
    padding: 10px;
  }

  .cancel-btn {
    display: inline-block;
    padding: 25px;
  }

  // ======================================================
  // ======================== show ========================
  // ======================================================
  .edit-btn {
    width: 80px;
  }

  .content-title {
    font-size: 25px;
    width: auto;
  }

  .content-body {
    h3 {
      width: auto;
      margin-left: 0;
      padding: 5px;
      color: white;
      font-size: 20px;
      background: linear-gradient(90deg, darkred, darkred, white);
    }

    p {
      margin: 10px 5px 0 5px;
      font-size: 13px;
    }
  }
}

// スマホ用
@media screen and (max-width: 500px) {
  // =======================================================
  // ===================== top & index =====================
  // =======================================================
  .btn-container {
    padding-top: 30px;
  }

  .new-btn {
    float: none;
  }

  .index-title {
    width: auto;
    margin: 10px;
    padding: 5px 0;
    font-family: "YuKyokasho Yoko";
    color: white;
    background: linear-gradient(90deg, white, darkred, darkred, white);
  }

  .index-body {
    margin: 5px;
    padding: 5px;

    li {
      margin-bottom: 12px;
      border: 0.23px solid gray;
      position: relative;

      a {
        color: black;
        display: block;
        padding: 5px 0;
        text-align: center;
        letter-spacing: 2px;

        &:hover {
          background-color: darkred;
          font-family: "YuKyokasho Yoko";
          color: white;
          font-size: initial;
        }
      }
    }
  }

  .notice {
    background-color: white;
    border: 0.5px solid #bbb;
    border-radius: 3px;
    padding: 0 5px;
    position: absolute;
    top: -25%;
    left: 33%;
    font-size: 10px;
    transition: all 0.2s;
  }

  .index-body li:hover .notice {
    background-color: #f3f3f3;
    position: absolute;
    top: -25%;
    font-size: 10px;
  }

  // ======================================================
  // ======================== show ========================
  // ======================================================
  .edit-btn {
    width: 80px;
  }

  .content-title {
    margin: 10px auto;
    font-size: 20px;
    width: auto;
  }

  .content-body {
    h3 {
      width: auto;
      margin-left: 0;
      padding: 5px;
      text-align: center;
      color: white;
      font-size: 15px;
      background: linear-gradient(darkred, darkred);
    }

    p {
      margin: 10px 5px 0 5px;
      font-size: 13px;
    }
  }

  // ======================================================
  // ======================== edit ========================
  // ======================================================
  .sp-form-name {
    padding-top: 20px;
  }

  .content-form-title {
    font-size: 20px;
  }

  .content-form-index {
    font-size: 15px;
  }

  .content-form-detail {
    font-size: 13px;
  }
}
