// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
}

h2 {
  max-width: 800px;
  margin: 0 auto;
}

// PC用
.header-container {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.top-link a {
  color: black;
}

.header {
  font-family: "Hiragino Mincho Pro";
}
.header h1 {
  font-size: 64px;
  margin-bottom: 0;
}

.header p {
  font-size: 16px;
  text-align: right;
  margin-top: 0;
}

.header-tab {
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}

.header-tab li {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border: 1px solid #2E2F30;
}

.top-body {
  margin: 0 auto;
  max-width: 1000px;
  border: 2px solid #730E15;
  //background-color: #B00100;
}

.new-list li {
  border: 1px solid #2E2F30;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  //max-width: 800px;
}

// モーダル用
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 935px;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

// スマホ用
@media screen and (max-width: 500px) {
  ul {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
  }

  h2 {
    font-size: 16px;
    text-align: center;
  }

  .header-container {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header {
    font-family: "Hiragino Mincho Pro";
  }

  .header h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .header p {
    font-size: 10px;
    text-align: center;
    margin-top: 0;
  }

  .header-tab {
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #2E2F30;
  }

  .header-tab li {
    display: inline-block;
    width: auto;
    padding: 5px;
    border: none;
  }

  .top-body {
    margin: 0 auto;
    border: none;
  }

  .new-list li {
    border: 1px solid #2E2F30;
    margin: 5px auto;
    padding: 4px;
    font-size: 10px;
    text-align: center;
    //max-width: 800px;
  }

  // モーダル用
  #mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  #modal {
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, 0) scale(1);
    transition: 0.2s;
    z-index: 2;
    width: 935px;
  }

  #mask.hidden {
    opacity: 0;
    visibility: hidden;
  }

  #modal.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 0) scale(0.8);
  }
}
